.todos-list .status {
  font-size: 10px;
}

.todos-list .item.completed {
  background: #EFEFEF;
}

@media only screen and (max-width: 700px) {
  .todos-list.list .item {
    display: flex;
    flex-direction: column;
  }

  .todos-list .status {
    align-self: flex-end;
  }
}